*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#020617;
  position:sticky;
  top:0;
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:linear-gradient(135deg,#1e3a8a,#7c3aed);
}

.hero h1{
  font-size:3rem;
}

.hero span{
  color:#38bdf8;
}

.hero p{
  margin:15px 0;
}

/* BUTTONS */
.btn{
  background:#38bdf8;
  padding:10px 20px;
  border-radius:20px;
  text-decoration:none;
  color:black;
  margin-right:10px;
}

.btn-outline{
  border:2px solid white;
  padding:10px 20px;
  border-radius:20px;
  text-decoration:none;
  color:white;
}

/* SKILLS */
.skills{
  padding:50px;
}

.skill{
  margin:20px 0;
}

.bar{
  height:10px;
  background:#1e293b;
  border-radius:10px;
}

.bar div{
  height:10px;
  background:#38bdf8;
  border-radius:10px;
}

/* PROJECTS */
.projects{
  padding:50px;
  text-align:center;
}

.cards{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:20px;
  width:250px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  background:#334155;
}

/* CONTACT */
.contact{
  padding:50px;
  text-align:center;
  background:#020617;
}

footer{
  text-align:center;
  padding:20px;
  background:black;
}